
        li {
            font-family: "Times New Roman";
            margin-left: 20px;
            line-height: 16px;
        }

        h1 {
            font-family: "Comic Sans MS";
            text-align: center;
            color: darkred;
        }

        ol {
            line-height: 50px;
        }

