        li {
            font-family: "Times New Roman";
            margin-left: 20px;
            line-height: 16px;
            font-size: 1.5rem;
        }

        h1 {
            font-family: "Comic Sans MS";
            text-align: center;
            color: teal;
        }

        ol {
            line-height: 50px;
            list-style-type: upper-alpha;
        }

