html, body {
    margin: 0;
    margin-right: -5;
}

#main {
    color: teal;
    text-align: center;
    padding: 0;
}

nav {
    float: center;
    border: 2px solid teal;
    width: 25rem;
}

article h3 {
    font-family: "Times New Roman";
    color: teal;

}

article img {
    float:;
    width: 25rem;
    padding: 2rem;
    border: 2px solid teal;


}